<nav>
	<ul>
		<li><a href="{{path('app_home')}}#top">Accueil</a></li>
		<li><a href="/">Produits</a></li>
		<li><a href="/">Promos</a></li>
		<li><a href="{{path('app_contact')}}">Contact</a></li>
	</ul>
</nav>